<!doctype html>
<html lang="en">
  <head>
    <title>Nodejs SSE</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <link rel="icon" href="/favicon.ico" type="image/ico" />
    <!-- stylesheets -->
    <link rel="stylesheet" href="/modules/@picocss/pico/css/pico.min.css" />
  </head>
  <body>
    <main class="container">
      <h1>Hello world!</h1>
    </main>
  </body>
</html>
